<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND STATUS = 1
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_NAME = ?,
		    USER_NICKNAME = ?,
		    USER_PWD = ?,
		    EMAIL = ?,
		    ADDRESS = ?,
		    STATUS = 1,
		    ENROLL_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>

	
	<entry key="selectMember">
		SELECT M.*, SPECIES FROM MEMBER M
		JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		 AND STATUS = 1
	</entry>
	
	<entry key="insertProfileImg">
		INSERT INTO ATTACHMENT(FILE_NO, REF_MNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, STATUS)
		VALUES(SEQ_FNO.NEXTVAL, ?,?,?,?,SYSDATE,'Y')
	</entry>
	
	<entry key="selectProfileImg">
		SELECT REF_MNO, FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
		FROM ATTACHMENT
		WHERE REF_MNO = ? AND REF_BNO IS NULL
		ORDER BY FILE_NO DESC
	</entry>
	
	
</properties>