<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND STATUS = 1
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_NAME = ?,
		    USER_NICKNAME = ?,
		    USER_PWD = ?,
		    EMAIL = ?,
		    ADDRESS = ?,
		    STATUS = 1,
		    MODIFY_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>

	
	<entry key="selectMember">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
	</entry>
	
	<entry key="insertProfileImg">
		INSERT INTO ATTACHMENT(FILE_NO, REF_MNO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, STATUS)
		VALUES(SEQ_FNO.NEXTVAL, ?,?,?,?,SYSDATE,'Y')
	</entry>
	
	<entry key="selectProfileImg">
		SELECT REF_MNO, FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
		FROM ATTACHMENT
		WHERE REF_MNO = ? AND REF_BNO IS NULL
		ORDER BY FILE_NO DESC
	</entry>
	
	<entry key="selectMemberList">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
	</entry>
	
	<entry key="memberListImg">
		SELECT FILE_PATH, CHANGE_NAME, REF_MNO
		            FROM ATTACHMENT
		            WHERE REF_MNO = (
		                SELECT USER_NO
		                FROM MEMBER
		                WHERE USER_ID = ?
		            ) AND ROWNUM = '1'
		            ORDER BY FILE_NO DESC
	</entry>
	
	<entry key="updateStatusM">
		UPDATE MEMBER
		SET STATUS = ?,
			MODIFY_DATE = SYSDATE 
		WHERE USER_ID = ?
	</entry>
	
	<entry key="selectStatus">
		SELECT STATUS
		FROM MEMBER 
		WHERE USER_ID = ?
	</entry>
	
	<entry key="myPageBoardList">
		SELECT BOARD_NO, BOARD_TITLE, USER_NICKNAME, CREATE_DATE, COUNT
		FROM BOARD B
		JOIN MEMBER M ON (B.BOARD_WRITER = M.USER_NO)
		WHERE BOARD_WRITER = ? AND B.STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</entry>
</properties>