<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND STATUS = 1
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_NAME = ?,
		    USER_NICKNAME = ?,
		    USER_PWD = ?,
		    EMAIL = ?,
		    ADDRESS = ?,
		    STATUS = 1,
		    ENROLL_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>

	
	<entry key="selectMember">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		 AND STATUS = 1
	</entry>
	
	
	
</properties>